<!-- src/app/components/tasklist/tasklist.component.html -->
<div style="text-align:center;">
  <button (click)="onLogout()" style="padding: 10px 20px; cursor: pointer; background-color: #f44336; color: white; border: none; border-radius: 5px;">Logout</button>
  <hr style="margin: 30px 0;">

  <h2>Minhas TaskLists</h2>
  <form [formGroup]="tasklistForm" (ngSubmit)="onAddOrUpdateTaskList()" style="margin-bottom: 20px;">
    <input type="text" formControlName="name" placeholder="Nome da Nova TaskList" required style="width: calc(100% - 140px); padding: 8px; margin-right: 10px;">
    <button type="submit" [disabled]="tasklistForm.invalid" style="padding: 8px 15px; cursor: pointer;">{{ editingTaskList ? 'Atualizar' : 'Criar' }}</button>
    <button *ngIf="editingTaskList" (click)="resetTaskListForm()" style="padding: 8px 15px; cursor: pointer; background-color: #6c757d; color: white; border: none; margin-left: 5px;">Cancelar</button>
  </form>

  <ul style="list-style: none; padding: 0;">
    <li *ngFor="let tl of taskLists" style="background-color: #f0f0f0; padding: 10px; margin-bottom: 5px; border-radius: 5px; display: flex; justify-content: space-between; align-items: center;">
      <a href="#" (click)="selectTaskList(tl)" style="text-decoration: none; color: #333; font-weight: bold; flex-grow: 1; text-align: left;">{{ tl.title }}</a>
      <div>
        <button (click)="editTaskList(tl)" style="padding: 5px 10px; cursor: pointer; background-color: #007bff; color: white; border: none; border-radius: 3px; margin-right: 5px;">Editar</button>
        <button (click)="deleteTaskList(tl.id!)" style="padding: 5px 10px; cursor: pointer; background-color: #dc3545; color: white; border: none; border-radius: 3px;">Excluir</button>
      </div>
    </li>
  </ul>

  <hr *ngIf="selectedTaskList" style="margin: 30px 0;">

  <div *ngIf="selectedTaskList">
    <h2>Tarefas em "{{ selectedTaskList.title }}"</h2>
    <form [formGroup]="taskForm" (ngSubmit)="onAddOrUpdateTask()" style="margin-bottom: 20px;">
      <input type="text" formControlName="title" placeholder="Título da Tarefa" required style="display: block; width: calc(100% - 20px); padding: 8px; margin: 5px auto;">
      <div *ngIf="taskForm.controls['title'].invalid && taskForm.controls['title'].touched" style="color: red; font-size: 0.9em;">Título é obrigatório.</div>
      <textarea formControlName="description" placeholder="Descrição" style="display: block; width: calc(100% - 20px); padding: 8px; margin: 5px auto;"></textarea>
      <input type="text" formControlName="category" placeholder="Categoria" style="display: block; width: calc(100% - 20px); padding: 8px; margin: 5px auto;">
      <input type="text" formControlName="priority" placeholder="Prioridade" style="display: block; width: calc(100% - 20px); padding: 8px; margin: 5px auto;">
      <label for="deadline" style="display: block; margin-top: 10px;">Prazo Final:</label>
      <input type="datetime-local" formControlName="deadline" id="deadline" style="display: block; width: calc(100% - 20px); padding: 8px; margin: 5px auto;">
      <button type="submit" [disabled]="taskForm.invalid" style="padding: 10px 20px; margin-top: 10px; cursor: pointer;">{{ editingTask ? 'Atualizar' : 'Criar' }} Tarefa</button>
      <button *ngIf="editingTask" (click)="resetTaskForm()" style="padding: 10px 20px; margin-top: 10px; cursor: pointer; background-color: #6c757d; color: white; border: none; margin-left: 5px;">Cancelar Edição</button>
    </form>

    <ul style="list-style: none; padding: 0;">
      <li *ngFor="let task of selectedTaskList.tasks" style="background-color: #e9e9e9; padding: 10px; margin-bottom: 5px; border-radius: 5px; display: flex; justify-content: space-between; align-items: center; text-align: left;">
        <label for="tasklistName" class="visually-hidden">Nome da Nova TaskList</label>
 <input type="text" id="tasklistName" formControlName="name" placeholder="Nome da Nova TaskList" required style="width: calc(100% - 140px); padding: 8px; margin-right: 10px;">
    <button type="submit" [disabled]="tasklistForm.invalid" style="padding: 8px 15px; cursor: pointer;">{{ editingTaskList ? 'Atualizar' : 'Criar' }}</button>
        <span [style.textDecoration]="task.done ? 'line-through' : 'none'" style="flex-grow: 1;">
          <strong>{{ task.content }}</strong><br>
          <small *ngIf="task.due_date">Prazo: {{ task.due_date | date:'short' }}<br></small>
          <small *ngIf="task.priority"> | Prioridade: {{ task.priority }}</small>
        </span>
        <div>
          <button (click)="editTask(task)" style="padding: 5px 10px; cursor: pointer; background-color: #28a745; color: white; border: none; border-radius: 3px; margin-right: 5px;">Editar</button>
          <button (click)="deleteTask(task.id!)" style="padding: 5px 10px; cursor: pointer; background-color: #dc3545; color: white; border: none; border-radius: 3px;">Excluir</button>
        </div>
      </li>
    </ul>
  </div>
</div>
